.nextQuestionButton{
    appearance: none;
    border-radius: 5px;
    margin: 20px auto;
    background-color: #faf8f5;
    font-size: 1.1rem;
    font-family: inherit;
    padding: 5px;
    border: 3px solid #596275;
    width: 10%;
    height: 40px;
    box-sizing: border-box;
    opacity: 100%;

    transition: opacity ease-in-out 0.5s;


}

.nextQuestionButton:hover {
    border-width: 4px;
    border-color: #303952;
}

.disabled{
    background-color: #ffffff;
    color: black;
    opacity: 25%;
}

.disabled:hover{

    border: 3px solid #596275;
}